/* resets */
 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body{
    background-color: antiquewhite;
}

a{
    color: antiquewhite;
    text-decoration: none;
}
/* global classes */
.center{
    text-align: center;
}


/* custom styles */
header,.contact-me {
    background-color: black;
    padding: 8px 8%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header, .contact-me{
    color: antiquewhite;
}

header nav a:not(:last-child) {
    margin-right: 20px;
}

.image{
    background-image: url(https://picsum.photos/1200/800);
    background-size: cover;
    background-position: center;
    padding: 100px 0;
}

.portfolio{
    margin-top: 35px;
    margin-bottom: 35px;
}

.about-me{
    display: flex;
    font-size: large;
    text-align: center;
    padding: 50px;
    margin-right: 50px;
}

.about-me p{
    align-content: space-between;
    padding-left: 100px;
    margin-left: 200px;
    line-height: 1;
}

.work{
    display: grid;
    margin-top: 50px;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.item{
    display: flex;
    align-items: center;
    justify-content: center;

}
.two{
    grid-column: 2/3;
}

.four{
    grid-column: -3/-2;
}